<div class="bg-hero bg-cover px-20 flex flex-col gap-6 justify-center w-full h-[880px] relative">
  <h1 class="w-3/5">Empowering Businesses Securing Futures</h1>
  <p class="text-xl w-3/5">
    We're your trusted partner in cybersecurity. Our SaaS platform offers tailored solutions for Manufacturing, Healthcare, Finance, Retail, and Defense, ensuring data privacy and protection
  </p>
  <div>
    <button class="flex justify-center items-center gap-2 rounded-full px-6 py-4 bg-[#F5FF80]">
      Explore Now 
      <%= render partial: "icons/right_arrow" %>
    </button>
  </div>
</div>
<section>
  <h2 class="text-center">Powerful Cybersecurity Features</h2>
</section>
<section class="flex px-20 py-20 bg-[#F5FF80] gap-12">
  <%= image_tag "content-image.png", alt: "content", class: "h-full object-cover" %>
  <div class="flex flex-col gap-12">
    <h2>Unlock the Benefits of Ferniz</h2>
    <div class="flex flex-col gap-6">
      <div class="flex gap-4 bg-white p-3 rounded-xl">
        <p class="flex justify-center items-center bg-black text-xl text-white p-4 h-14 rounded-md">01</p>
        <div class="flex flex-col gap-2">
          <p class="font-medium text-xl text-black">Enhanced Data Security</p>
          <p class="font-normal text-lg">Strengthens data security by identifying and safeguarding sensitive information. Ensure the confidentiality and integrity of your data</p>
        </div>
      </div>
      <div class="flex gap-4 bg-white p-3 rounded-xl">
        <p class="flex justify-center items-center bg-black text-xl text-white p-4 h-14 rounded-md">02</p>
        <div class="flex flex-col gap-2">
          <p class="font-medium text-xl text-black">Proactive Threat Detection</p>
          <p class="font-normal text-lg">Detect and respond to threats in real-time. Ferniz's proactive approach minimizes the risk of data breaches and cyberattacks</p>
        </div>
      </div>
      <div class="flex gap-4 bg-white p-3 rounded-xl">
        <p class="flex justify-center items-center bg-black text-xl text-white p-4 h-14 rounded-md">03</p>
        <div class="flex flex-col gap-2">
          <p class="font-medium text-xl text-black">Customized Cybersecurity</p>
          <p class="font-normal text-lg">Tailored cybersecurity solutions that align with your business model and growth strategies. Ferniz adapts to your unique needs</p>
        </div>
      </div>
      <div class="flex gap-4 bg-white p-3 rounded-xl">
        <p class="flex justify-center items-center bg-black text-xl text-white p-4 h-14 rounded-md">04</p>
        <div class="flex flex-col gap-2">
          <p class="font-medium text-xl text-black">Vendor and Supply Chain Security</p>
          <p class="font-normal text-lg">Mitigate risks associated with third-party vendors and supply chain partners. Ensure the security and integrity of your ecosystem</p>
        </div>
      </div>
      <div class="flex gap-4 bg-white p-3 rounded-xl">
        <p class="flex justify-center items-center bg-black text-xl text-white p-4 h-14 rounded-md">05</p>
        <div class="flex flex-col gap-2">
          <p class="font-medium text-xl text-black">Competitive Advantage</p>
          <p class="font-normal text-lg">Gain a competitive edge with Ferniz's robust cybersecurity. Build trust with customers and partners by demonstrating a commitment to security</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="flex flex-col items-center px-20 gap-12">
  <h2 class="text-center">Choose the Plan That Fits Your Business Needs</h2>
  <div class="flex gap-5">
    <div class="flex flex-col gap-6 w-[413.33px] rounded-3xl p-6 border-[0.5px] border-[#A2A2A2]">
      <div class="flex flex-col gap-4">
        <div class="flex flex-wrap">
          <p class="px-5 py-4 bg-[#FCFFD5] font-medium text-xl rounded-full">Basic Plan</p>
        </div>
        <h3>$49/Month</h3>
        <p>Essential cybersecurity. Discover data, assess risks, manage vendors, ensure compliance</p>
      </div>
      <hr class="border border-[#B9B9B9]">
      <div class="flex flex-col gap-3">
        <p class="font-medium text-black text-xl">Features Included</p>
        <ul class="flex flex-col gap-4">
          <li class="flex gap-3 items-center">
            <%= render partial: "icons/check" %>
            <p>Data Discovery and Analysis</p>
          </li>
          <li class="flex gap-3 items-center">
            <%= render partial: "icons/check" %>
            <p>Risk Assessment</p>
          </li>
          <li class="flex gap-3 items-center">
            <%= render partial: "icons/check" %>
            <p>Vendor/System Risk Management</p>
          </li>
          <li class="flex gap-3 items-center">
            <%= render partial: "icons/check" %>
            <p>Regulatory Compliance Assistance</p>
          </li>
        </ul>
      </div>
      <button class="py-4 rounded-full bg-black font-semibold text-white text-xl">Get Started</button>
    </div>
    <div class="flex flex-col gap-6 w-[413.33px] rounded-3xl p-6 border-[0.5px] border-[#A2A2A2]">
      <div class="flex flex-col gap-4">
        <div class="flex flex-wrap">
          <p class="px-5 py-4 bg-[#FCFFD5] font-medium text-xl rounded-full">Pro Plan</p>
        </div>
        <h3>$94/Month</h3>
        <p>Comprehensive protection: includes Basic Plan features, plus advanced security</p>
      </div>
      <hr class="border border-[#B9B9B9]">
      <div class="flex flex-col gap-3">
        <p class="font-medium text-black text-xl">Features Included</p>
        <ul class="flex flex-col gap-4">
          <li class="flex gap-3 items-center">
            <%= render partial: "icons/check" %>
            <p>All Basic Plan Features</p>
          </li>
          <li class="flex gap-3 items-center">
            <%= render partial: "icons/check" %>
            <p>Endpoint Security</p>
          </li>
          <li class="flex gap-3 items-center">
            <%= render partial: "icons/check" %>
            <p>Identity and Access Management</p>
          </li>
          <li class="flex gap-3 items-center">
            <%= render partial: "icons/check" %>
            <p>Insider Threat Detection</p>
          </li>
        </ul>
      </div>
      <button class="py-4 rounded-full bg-black font-semibold text-white text-xl">Get Started</button>
    </div>
    <div class="flex flex-col gap-6 w-[413.33px] rounded-3xl p-6 border-[0.5px] border-[#A2A2A2]">
      <div class="flex flex-col gap-4">
        <div class="flex flex-wrap">
          <p class="px-5 py-4 bg-[#FCFFD5] font-medium text-xl rounded-full">Enterprise Plan</p>
        </div>
        <h3>$179/Month</h3>
        <p>Customized for your needs: Pro Plan features, plus enterprise architecture and priority support</p>
      </div>
      <hr class="border border-[#B9B9B9]">
      <div class="flex flex-col gap-3">
        <p class="font-medium text-black text-xl">Features Included</p>
        <ul class="flex flex-col gap-4">
          <li class="flex gap-3 items-center">
            <%= render partial: "icons/check" %>
            <p>All Pro Plan Features</p>
          </li>
          <li class="flex gap-3 items-center">
            <%= render partial: "icons/check" %>
            <p>Enterprise Architecture</p>
          </li>
          <li class="flex gap-3 items-center">
            <%= render partial: "icons/check" %>
            <p>24/7 Priority Support</p>
          </li>
          <li class="flex gap-3 items-center">
            <%= render partial: "icons/check" %>
            <p>Regulatory Compliance Assistance</p>
          </li>
        </ul>
      </div>
      <button class="py-4 rounded-full bg-black font-semibold text-white text-xl">Get Started</button>
    </div>
  </div>
</section>