<!DOCTYPE html>
<html>
  <head>
    <title>Ferniz</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="flex flex-col gap-20 text-[#454545]">
      <nav class="bg-glass px-20 flex flex-1 py-3 items-center justify-between absolute z-50">
        <a class="font-bold text-4xl text-black">Ferniz</a>
        <ul class="flex gap-12 text-xl">
          <li class="hover:text-black hover:font-semibold">Home</li>
          <li class="hover:text-black hover:font-semibold">Service</li>
          <li class="hover:text-black hover:font-semibold">Pricing</li>
          <li class="hover:text-black hover:font-semibold">About</li>
          <li class="hover:text-black hover:font-semibold">Contact</li>
         </ul>
        <button class="font-bold px-5 py-4 text-white bg-black rounded-full">Request A Demo</button>
      </nav>
      
      <%= yield %>

      <footer class="px-20 pt-20 pb-8 bg-[#F5FF80]">
        <div class="flex justify-between">
          <div class="flex flex-col gap-12">
            <div class="flex flex-col gap-4">
              <h4>Ferniz</h4>
              <div>
                <p>Your cybersecurity partner with tailored solutions for</p>
                <p>Manufacturing, Healthcare, Finance, Retail, and Defense</p>
              </div>
            </div>
            <div>
              <h5>Connect with Us</h5>
            </div>
          </div>
          <div>
            <h5>Quick Links</h5>
          </div>
          <div>
            <h5>Services</h5>
          </div>
          <div>
            <h5>Contact Information</h5>
          </div>
        </div>
        <div>

        </div>
      </footer>
    </main>
  </body>
</html>
