<!DOCTYPE html>
<html>
  <head>
    <title>Ferniz</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto mt-28 px-5 flex">
      <nav class="flex flex-1 justify-between">
        <a>Ferniz</a>
         <ul class="flex">
           <li>Home</li>
           <li>Service</li>
           <li>Pricing</li>
           <li>About</li>
           <li>Contact</li>
         </ul>
        <button>Request A Demo</button>
      </nav>
      <%= yield %>
    </main>
  </body>
</html>
